* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

/* esto de abajo es solo para reconocer cajas */

/* div {
    border: 1.5px solid black;
} */

/* .....................nav........ */


.menu {
    background-color: #efe9e8;
    padding: 1px 0;
    text-align: left;
    height: 70px;
    margin: 0px;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #FA9401;
    font-size: 15px;
    display: block;
    padding: 20px 30px;
    /* text-shadow: -0.5px -0.5px 1px hsl(0, 0%, 100%); */
}

.menu ul li a:hover {
    color: rgb(188, 0, 110);
}

.contacto {
    float: right;
}

/* .....................fin nav........ */

/* .....................portada home.. */

.encabezado-imagen {
    background: linear-gradient(rgba(1, 1, 2, 0.6), rgba(1, 1, 2, 0.6)),
        url(images/h/h.adentro.zoom.jpg) no-repeat center center fixed;
    font-family: 'Sancreek', cursive;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-shadow: -3px -3px 5px rgb(255, 255, 255);
}


.encabezado-imagen h1 {
    font-size: 90px;
    color: #FA9401;
    padding: 20px;
    letter-spacing: 70px;
}

/* ....................fin portada home.. */

/* .........................main.................... */
.contenedor {
    display: block;
}

.contenedor-imagenes img {
    display: inline-block;
    padding: 5px 5px;
}

.espacio-descanso {
    background-color: #FCF0ED;
    height: 300px;
}

.card-group {
    height: auto;
    width: 100%;

}


/* el padding es el boirde las tarjeta lpm */
.card {
    padding: 2px;
    margin: 30px;
    box-shadow: 0px 2px 10px rgba(1, 1, 2, 1);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgb(255, 183, 1);
    transform: translateY(-3%);
}

.card-body {
    background-color: #ffffff;
    padding: 10px;
}

.card-title {
    color: #000000;
    text-align: center;
}

.card-text {
    text-align: center;
}

.marcas {
    padding: 10px;
    background-color: #FCF0ED;
    text-align: center;
    height: 550px;
    font-size: 30px;
}

.marcas h1 {
    padding: 40px;
}


.Productos-1 {
    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, #ffffff, #ed7700, #fa5401);
    padding: 40px;
    height: 650px;
}

.Productos {
    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, #ffffff, #ed7700, #fa5401);
    padding: 40px;
    height: 650px;
    /* padding: 10px; esto es el borde de abajo naranja de la tarjetas */
}

.algo {
    padding: 40px;
    background-color: #FCF0ED;
    font-size: 40px;
    text-align: center;
    height: 500px;
}


/* empieza footer */

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.fa-phone:before {
    content: "\f095";
}

.fas {
    font-family: "Font Awesome 5 Free";
}

.fas {
    font-weight: 900;
}




/* aca lado derecho azul */

.ubicacion {
    display: flex;
    height: 310px;
    width: 100%;
}

.mapa {
    height: auto;
    width: 50%;
    margin: 10px;
}

/* si saco el 100% aparece scroll horizontal */

.info {
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #0A68FF;
    color: hsl(0, 0%, 100%);
    margin: 10px;
}


li {
    font-size: 1.4rem;
    color: white;
    font-family: 'Foco Lite', 'Open Sans', sans-serif;
    margin: 0;
    list-style: none;
}




/* SOCIAL MEDIAS */


.social-media {
    display: block;
    width: 100%;
}

.social-media a {
    font-size: 1.5em;
    display: inline-block;
    padding: 15px;
}


.pie {
    display: inline-block;
    height: 80px;
    text-align: center;
    font-size: 1.1em;
    color: #FA9401;
    font-family: 'Sancreek', cursive;
    padding: 2px;
}

.pie p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;

}

/* WhatsApp Button */

.qlwapp-toggle {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 9px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}


.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.30em;
}

/* WhatsApp Button */

/* SOCIAL MEDIAS */

@media (min-width: 320px) and (max-width: 576px) {

    .encabezado {
        position: relative;
        width: 100%;
    }

    .menu {
        flex-direction: row;
        height: auto;
        text-align: center;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .menu ul li a {
        flex-direction: row;
        padding: 2px;
    }


    .encabezado-imagen {
        display: flex;
        font-size: 10px;
        height: 250px;
    }

    .encabezado-imagen h1 {
        font-size: 35px;
        color: #FA9401;
        padding: 20px;
        letter-spacing: 15px;
    }

    .marcas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: auto;
    }

    .marcas h1 {
        font-size: 20px;
        padding: 10px;
    }

    .contenedor-imagenes img {
        text-align: flex;
        height: 80px;
        width: 80px;
    }

    .Productos-1 {
        display: block;
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .Productos-1 h1 {
        font-size: 20px;
    }

    .Productos {
        display: block;
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .Productos h1 {
        font-size: 20px;
    }

    .card-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        margin: 0;
        padding: 0;
    }

    .card img {
        width: 100%;
    }


    .card-body {
        width: 100%;
        padding: 1px;
        justify-content: center;
    }

    .card img {
        justify-content: center;
        align-items: center;
        padding: 1px;
    }

    .card-text {
        font-size: 10px;
    }

    .card .card-title {
        font-size: 10px;
    }

    .algo {
        height: 300px;
    }

    .algo h1 {
        font-size: 20px;
        height: 200px;
    }

    .ubicacion {
        display: block;
        position: relative;
        width: 100%;
        flex-direction: column;
    }


    .social-media {
        display: flex;
        padding: 1px;
        justify-content: center;
    }

    .ubicacion {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .mapa {
        display: none;
    }


    .social-media {
        display: flex;
        padding: 1px;
        justify-content: center;
    }

    .info {
        width: 100%;
    }

    .info ul li {
        font-size: 20px;
    }


}

@media (min-width: 576px) and (max-width: 768px) {

    .encabezado {
        position: relative;
        width: 100%;
    }

    .menu {
        flex-direction: row;
        height: auto;
        text-align: center;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .menu ul li a {
        flex-direction: row;
        padding: 2px;
    }


    .encabezado-imagen {
        display: flex;
        font-size: 10px;
        height: 250px;
    }

    .encabezado-imagen h1 {
        font-size: 35px;
        color: #FA9401;
        padding: 20px;
        letter-spacing: 10px;
    }

    .marcas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: auto;
    }

    .marcas h1 {
        font-size: 20px;
        padding: 10px;
    }

    .contenedor-imagenes p img {
        text-align: flex;
        height: 80px;
        width: 80px;
    }

    .Productos-1 {
        display: block;
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .Productos-1 h1 {
        font-size: 20px;
    }

    .Productos {
        display: block;
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .Productos h1 {
        font-size: 20px;
    }

    .card-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        margin: 30px;
        align-items: center;
    }

    .card img {
        width: 100px;
        margin-top: 5px;
    }


    .card-body {
        width: 100px;
        padding: 1px;
        justify-content: center;
    }

    .card img {
        justify-content: center;
        align-items: center;
        padding: 1px;
    }

    .card-text {
        font-size: 10px;
    }

    .card .card-title {
        font-size: 10px;
    }

    .algo {
        height: 300px;
    }

    .algo h1 {
        font-size: 20px;
        height: 200px;
    }

    .ubicacion {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .mapa {
        display: flex;
        margin: 10px;
        height: auto;
    }


    .social-media {
        display: flex;
        padding: 1px;
        justify-content: center;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

    .encabezado {
        position: relative;
        width: 100%;
    }

    .menu {
        flex-direction: row;
        height: auto;
        text-align: center;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .menu ul li a {
        flex-direction: row;
        padding: 2px;
    }


    .encabezado-imagen {
        display: flex;
        font-size: 10px;
        height: 250px;
    }

    .encabezado-imagen h1 {
        font-size: 35px;
        color: #FA9401;
        padding: 20px;
        letter-spacing: 5px;
    }

    .marcas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: auto;
    }

    .marcas h1 {
        font-size: 20px;
        padding: 10px;
    }

    .contenedor-imagenes p img {
        text-align: flex;
        height: 80px;
        width: 80px;
    }

    .Productos-1 {
        display: block;
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .Productos-1 h1 {
        font-size: 20px;
    }

    .Productos {
        display: block;
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .Productos h1 {
        font-size: 20px;
    }

    .card-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        margin: 0;
        align-items: center;
    }

    .card img {
        width: 100px;
    }


    .card-body {
        width: 100px;
        padding: 1px;
        justify-content: center;
    }

    .card img {
        justify-content: center;
        align-items: center;
        padding: 1px;
    }

    .card-text {
        font-size: 10px;
    }

    .card .card-title {
        font-size: 10px;
    }

    .algo {
        height: 300px;
    }

    .algo h1 {
        font-size: 20px;
        height: 200px;
    }

    .ubicacion {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .mapa {
        display: flex;
        margin: 10px;
        height: auto;
    }


    .social-media {
        display: flex;
        padding: 1px;
        justify-content: center;
    }

}